body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#img-container{
    width: 85%;
}

.img-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    row-gap: 40px;
    flex-wrap:wrap;
    list-style: none;
}
